<title>This is the intro page</title>
<link rel="shortcut icon" href="/static/favicon.ico">
<style type="text/css">
	.button {
		background-color: #f44336;
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		border-radius: 8px;
	}
</style>
<h1>This is the intro page guys</h1>
<a href="/upload/"><button class="button">Upload</button></a>
<a href="/page/{{page_number}}"><button class="button" style="background-color: green;">Click to view images</button></a>
